<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/new">New note</a>
    <% if (notes.length > 0) { %>
    <ul>
        <% notes.forEach(function(note) { %>
        <li><%= note.title %></li>
        <% }); %>
    </ul>
    <% } else { %>
    <p>No notes</p>
    <% } %>
  </body>
</html>
